/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
DEBUG 
*/

.debug .header-top{
    background-color: #add8e6;
}

.debug .header-top div{
    background-color: #daa520;
    border: 1px dashed black;
}

.debug .header-bot{
    height: 500px;
    background-color: #00008b;
}

.debug .header-bot div{
    height: 400px;
    background-color: #ee82ee;
}

.debug .cube1{
    background-color: #1e90ff;
    height: 500px;
}

.debug .cube2{
    background-color: #ffc0cb;
    height: 500px;
}

.debug .colcontainer{
     height: 570px;
}

.debug .col1{
    background-color: #f08080;
    border: 2px dashed black;
}

.debug .col2{
    background-color: #20b2aa;
    border: 2px dashed black;
}

.debug .footerbot > div{
    background-color: #7fffd4;
}

.debug .footerbot > div > div{
    background-color: #ffb6c1;
    border: 1px dashed black;
}
/* -------------------------------------------------------------------------------- */
/* COMMON */
.container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER TOP*/
.header-top{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    
}

.logologin{
    width: 20%;
}

.link{
    width: 60%;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

/* HEADER BOT */

.header-bot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bot div{
    width: 50%;
    }

/* MAIN */
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    width: 100%;
}

.cube1{
    width: 60%;
    
}

.cube2{
    width: 40%;
}

.row:nth-child(even){
    background-color: #d3d3d3;
}

main .row:nth-child(even) .container{
    flex-direction: row-reverse;
}

.block{
    width: 60%;
    height: 800px;
    background-color: #228b22;
}

/* FOOTERTOP */

footer{
    background-color: #23272a;
    padding-top: 5px;
}

.footertop{
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.colcontainer{
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.col1{
    height: 100%;
    width: 30%;
}

.col2{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.col2 div{
    border: 1px dashed white;
    width: calc(100%/4);
    height: 100%;

}

/* FOOTERBOTTOM */
.footerbot{
    padding-top: 30px;
    
}

.footerbot > div{
    margin: 0 auto;
    padding: 10px 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerbot > div > div{
    padding: 5px;
}